<!DOCTYPE html>
<html lang="en">
<body>
   <h1>{{donor}} to {{recipient}}</h1>
   <pre>{{contents}}</pre>
   <h2>For The Classifications</h2>
   <table style="margin-bottom: 8px;">
      <tr>
         <th>Classification</th>
         <th>{{donor}}</th>
         <th>{{recipient}}</th>
      </tr>
      {% for class, donorList, dstart, dend, (transfer, start, end) in results %}
      <tr>
         <td><pre>{{class}}</pre></td>
         <td><pre>{{dstart}}{{donorList}}{{dend}}</pre></td>
         <td><pre>{{start}}{{transfer}}{{end}}</pre></td>
      </tr>
      {% endfor %}
   </table>
   <a style="text-decoration: none; color: blue; " href="../"><button>Return</button></a>
</body>
<style>
   table {
     border-collapse: collapse;
     width: 100%;
     font-family: monospace;
   }
   
   th, td {
     border: 1px solid black;
     text-align: left;
     vertical-align: top;
     padding: 8px;
     white-space: pre; /* <= 1-word version */
   }
   
   th {
     min-width: 150px;
     word-break: keep-all;
   }
   
   td {
     word-break: break-word;
   }
</style>
   
</html>